<h1> Log in </h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :email, placeholder: "E-Mail" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Log in" %>
<% end %>

<h2>Are you a new user?</h2>
<br>
<br>
<br>
<br>
<br>
<%= link_to "Create Account", new_user_path %><br>
