
<h1>All Items</h1>

<% @items.each do |item| %>
<ul>
  <li><%= item.name %></li>
  <ul>
    <li><%= item.description %></li>
    <li><%= image_tag item.image_url %></li>
    <li><%= number_to_currency(item.price) %></li>
    <li><%= button_to "#{item.disabled_item?[0]}",
            cart_items_path(item_id: item.id),
            item.disabled_item?[1] %>
    </li>

  </ul>
</ul><% end %>
