<h1> <%= @user.first_name %>'s Profile</h1>
<h3>Name:</h3><%= @user.first_name %> <%= @user.last_name %>
<h3>Email:</h3><%= @user.email %>
<h3>Street Address:</h3> <%= @user.address %>
<h3>City, State Zip</h3><%= @user.city %>, <%= @user.state %>  <%= @user.zipcode %>
