
  <div class="col-sm-4 wow fadeInDown text-center">
    <%= image_tag item.image_url, class:"rotate item-icon" %>
    <%= link_to item_path(item) do %>
      <%= content_tag :h3, item.name %>
    <% end %>
    <%= content_tag :p , item.description %>
    <%= content_tag :p, number_to_currency(item.price) %>
    <%= button_to "#{item.disabled_item?[0]}",
        cart_items_path(item_id: item.id),
        item.disabled_item?[1]%>
  </div>
