<ul>
  <li><%= item.name %></li>
  <ul>
    <li><%= item.description %></li>
    <li><%= image_tag item.image_url %></li>
    <li>$<%= item.price %></li>
    <li><%= button_to "Add to Cart", cart_items_path(item_id: item.id)%></li>
  </ul>
</ul>
