<div class="container">
   <div class="header">
         <div class="logo">
         <a href="/"><%= image_tag "logo.png" %></a>
       </div>
      <div class="top-nav">
        <label class="mobile_menu" for="mobile_menu">
        <span>Menu</span>
        </label>
        <input id="mobile_menu" type="checkbox">
         <ul class="nav">
          <li><%= link_to "DINOSAUR MEAT", "/meats", class:"morebtn" %></li>
          <li><%= link_to "DINOSAUR EGGS", "/eggs", class:"morebtn" %></li>
          <li><%= link_to "FRUITS & VEGGIES", "/fruitsveggies", class:"morebtn" %></li>
          <a class="shop" href="cart.html"><%= image_tag "cart.png" %> &nbsp;<%= @cart.count_all %></a>
        </ul>
     </div>
     <div class="clearfix"></div>
   </div>
</div>
