<div class="container">
   <div class="header">
         <div class="logo">
         <a href="/"><%= image_tag "logo.png" %></a>
       </div>
      <div class="top-nav">
        <% if current_admin? %>
          <li><%= link_to "Items", admin_items_path, class:"morebtn" %></li>
          <li><%= link_to "Logout", logout_path, method: :delete, class:"morebtn" %></li>
        <% else %>
          <% if current_user %>
            <li><%= link_to "Logout", logout_path, method: :delete, class:"morebtn" %></li>
            <li><%= link_to "Dashboad", dashboard_path, class:"morebtn" %></li>
          <% else %>
            <li><%= link_to "Login", login_path, class:"morebtn" %></li>
            <li><%= link_to "Create Account to Checkout", new_user_path, class:"morebtn" %></li>
        <% end %>
      <% end %>
     </div>
     <div class="clearfix"></div>
   </div>
</div>
