<h1>Order Number:<%= @order.id %></h1>
<h4>Order Date:<%= @order.created_at %></h4>
<h4>Order Status:<%= @order.status %>:
  <% if @order.status == "cancelled" || "completed" %>
  <%= @order.updated_at %>
  <% end %>
</h4>

  <table>
    <th>
      <td>
        Name
      </td>
      <td>
        Quantity
      </td>
      <td>
        Price
      </td>
      <td>
        Subtotal
      </td>
    </th>
    <% @order.items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          number
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          subtotal
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4>
        Order Total: <%= number_to_currency(@order.total) %>
      </td>

    </tr>

  </table>
