<!DOCTYPE html>
<html>
<head>
  <title>LittleShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
Cart: <%= @cart.count_all %> <%= link_to "View My Cart", cart_path %>
<%= yield %>

<% flash.each do |type, message| %>
  <%= content_tag :div, message.html_safe, class: type %>
<% end %>
</body>
</html>
