<!DOCTYPE html>
<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<head>
  <title>LittleShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li>  <% if current_user %>
      <%= link_to "Logout", logout_path, method: :delete%>
      <% else %>
      <%= link_to "Login", login_path %>
      <% end %></li>
    </ul>

  <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: type %>
  <% end %>

Cart: <%= @cart.count_all %> <%= link_to "View My Cart", cart_path %>

<%= yield %>

</body>
</html>
